  <footer>
    <section>
      <p class="text-center text-muted">© Copyright 2018 Web Bank</p>

    </section>
    <script src="/js/bootstrap.min.js" type="text/javascript"> </script>
  </footer>
</html>
