<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Web Bank</title>

		<meta name="description" content="The bank made for your happiness">

		<meta property="og:type" content="website"/>
		<meta property="og:title" content="web bank"/>
		<meta property="og:description" content="The bank made for your happiness"/>
		<meta property="og:url" content="localhost"/>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Alegreya+SC" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
	</head>
  <body class="container">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">
			<div class="container-fluid">

	      <a class="navbar-brand" href="/">Web Bank</a>
	      <ul class="navbar-nav">
					<% for (var i=0; i<nav.length; i++) {%>
		        <li class="nav-item"><a  class="nav-link" href= <%=nav[i].link%> > <%=nav[i].text%> </a></li>
		      <%}%>
	      </ul>

			</div>
		</nav>
