<div class="container">
  <div class="d-flex justify-content-center">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <p>{{node.name}}</p>
    </mat-tree-node>

    <mat-tree-node class="semester" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <p>{{node.name}}</p>
    </mat-tree-node>
  </mat-tree>
  </div>
</div>
